@import "tailwindcss";
@config "../tailwind.config.js";
@plugin "@tailwindcss/typography";

h1,
h2,
h3,
h4,
nav {
  font-family: sans-serif;
  text-decoration: none;
  letter-spacing: -0.05em;
}

p,
li {
  letter-spacing: 0;
}
